

# Do not add website material
*_files/
vignettes/vignette.md
vignettes/*_files/
figure/
archive
Preprocessing.md

# Do not add maintenance material
inst/extras

# Never put this in version control
OAtoken

# docs/
inst/extras/David2014
inst/doc
*~
.Rproj.user
*.Rproj
.Rhistory
vignettes/old
vignettes/F1000
vignettes/*~
vignettes/.Rhistory
vignettes/*.Rproj
vignettes/*.RData
vignettes/figure
inst/extras/*~
inst/extras/*.tar.gz
inst/extras/.RData
inst/extras/*.Rout
inst/extras/*.Rcheck
inst/extras/misc.Rmd
inst/extras/debug.R
inst/extras/tmp.R








