*~
.Rproj.user
*.Rproj
.Rhistory
vignettes/old
vignettes/*~
vignettes/.Rhistory
vignettes/*.Rproj
inst/extras/*~
inst/extras/*.tar.gz
inst/extras/.RData
inst/extras/*.Rout
inst/extras/*.Rcheck
inst/extras/misc.Rmd
inst/extras/debug.R







