export(add.hclust.plots)
export(calculate.hclust)
export(calculate.rpa)
export(check.dependencies)
export(chooseDir)
export(choose.projects)
export(choose.samples)
export(completeClust)
export(corDist)
export(count)
export(deconvolution.nonneg)
export(detect.chip)
export(esort)
export(estimate.diversity)
export(estimate.min.threshold)
export(estimateSpeciesPresence)
export(FetchData)
export(fetch.extractions)
export(FetchHITChipAtlas)
export(fetch.measurements)
export(fetch.projects)
export(fetch.sample.info)
export(fetch.samples)
export(get.bkg.params)
export(get.dd.order)
export(get.doligo2)
export(get.phylogeny)
export(get.probedata)
export(get.probeset)
export(getPvalsFromLmMatrix)
export(get.sampleid)
export(hitchip.phylodistance)
export(hitchip.sig.lme)
export(HTMLReport)
export(HTMLReportBegin)
export(HTMLReportEnd)
export(importProjectFromPhyloarrayToR)
export(impute)
export(include.fig)
export(include.figs)
export(L2.species)
export(level2TOlevel1)
export(levelmap)
export(level.species)
export(list2ascii)
export(ListAtlasProjects)
export(list.clustering.metrics)
export(list.color.scales)
export(list.entities)
export(list.mysql.projects)
export(list.probes)
export(list.scaling.methods)
export(lmeMatrix)
export(lm.matrix)
export(lm.matrix2)
export(lower.triangle)
export(make.abundancy.table)
export(mixingMatrix)
export(mysql.format)
export(n.phylotypes.per.oligo)
export(oligo.bg.correction)
export(outlierPvalue)
export(pairwise.comparisons)
export(panel.stability)
export(PCA.dialogue)
export(Phylogeneticenrichments)
export(phylotype.rm.list)
export(pick.training.samples)
export(PlotDiversity)
export(plotGroupPCA)
export(PlotMatrix)
export(plotMeanProfile)
export(plotOligoP)
export(plotPCA)
export(PlotPhylochipHeatmap)
export(plotScatter)
export(PlotTopComparisons)
export(polish.antibio)
export(polish.DNA.extraction.method)
export(polish.DNA.poly)
export(polish.extraction.archaeal)
export(polish.gender)
export(polish.groupcode)
export(polish.healthinfo)
export(polish.healthstatus)
export(polish.medication)
export(polish.nationality)
export(polish.RNAkit)
export(polish.sampletype)
export(polish.sampling.date)
export(populate.checkboxes)
export(populate.radiobuttons)
export(preprocess.chipdata)
export(preproc.Hitchip)
export(project.data)
export(prune16S)
export(ReadHclustParameters)
export(read.hitchip)
export(read.hitchip2)
export(read.hitchip.prof008v3.4)
export(read.hitchip.prof010)
export(read.in.data)
export(read.motherlist)
export(ReadParameters)
export(read.profiling)
export(remove.background)
export(retrieve.probesets)
export(rsd)
export(runPCA)
export(run.profiling.script)
export(sampleOutliers)
export(sampleReproducibility)
export(ScaleProfile)
export(scaling.minmax)
export(simulate.hitchip)
export(spatnorm)
export(species2levels)
export(SplitTrainTest)
export(Strip)
export(submitDB)
export(submitDB.sampleOutliers)
export(summarize.oligos)
export(summarize.probesets)
export(summarize.probesets.species)
export(summarize.rawdata)
export(theme_bottom_border)
export(threshold.data)
export(top.barplots)
export(trans)
export(wardClust)
export(WriteChipData)
export(WriteLog)
export(WriteMatrix)
